<h1>create student form</h1>

<form [formGroup]="studentForm">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>

    <label>Gender:</label>
    <input type="radio" name="gender" formControlName="Male">
    <label>Male</label>
    <input type="radio" name="gender" formControlName="Female">
    <label>Female</label>
    <br>

    <label>Mobile</label>
    <input type="text" formControlName="mobile">
    <br>

    <label>Email:</label>
    <input type="text" formControlName="email">
    <br>

    <label>Batch:</label>
    <input type="text" formControlName="batch">
    <br>

    <h2>Address</h2>

    <label>city:</label>
    <input type="text" formControlName="city">
    <br>

    <label>mandal:</label>
    <input type="text" formControlName="mandal">
    <br>

    <label>District:</label>
    <input type="text" formControlName="district">
    <br>

    <label>state:</label>
    <input type="text" formControlName="state">
    <br>
    <label>pincode:</label>
    <input type="text" formControlName="pincode">
    <br>

    <button (click)="add()"> Add Education Details</button>

    <div formArrayName="cards">
        <div *ngFor="let card of educationsFormArray?.controls;let i=index">
            <div formGroupName="{{i}}">
                <input type="text" formControlName="qualification" placeholder="qualification">
                <br>
                <input type="text" formControlName="year" placeholder="year">
                <br>
                <input type="text" formControlName="percentage" placeholder="percentage">
                <br>
                <button class="btn btn-danger" (click)="delete(i)">delete</button>
            </div>
        </div>
    </div>

    <h2>Company</h2>

    <label>Name:</label>
    <input type="text" formControlName="city">
    <br>

    <label>location:</label>
    <input type="text" formControlName="mandal">
    <br>

    <label>package:</label>
    <input type="text" formControlName="district">
    <br>

    <label>Offerdate:</label>
    <input type="text" formControlName="district">
    <br>

    <label>Source type:</label>
    <input type="radio" name="soucetype" formControlName="sourcetype" value="direct">
    
    <label>Direct</label>
    <input type="radio" name="sourcetype" formControlName="sourcetype" value="refer">
      <label>Refer</label>
      <br>
      

    <br>
    <button (click)="submit()">submit</button>



</form>